body {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: 
  'header'
  'nav'
  'main'
  'footer'
  ;
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }


@media (min-width: 40em) {
  body {
    grid-template-areas: 
      'header header'
      'nav main'
      'nav footer'
    ;
  }
}

main {
  grid-area: main;
  min-height: 200px; /* Adjust the desired minimum height here */
  height: 100vh; /* Set the height to occupy full viewport height */
}

