body {
  background-color: #222222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 1rem;
}

.item {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #9e2d2d, #c1c137, #4eb18b);
}